*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "icons";
    src: url("C:/OSPanel/home/kiosk7.local/oblomov_new_3/fonts/icons/icomoon.woff") format("woff");
    font-weight: 400;

}

body.body{
    background: url(img/manuscript_general_background.jpg);
    overflow-y: hidden;
    width: 100vw;
    height: calc(100vh - 14px);
    padding-bottom: 30px;
    background-size: 100%;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.h1{
    color: hsl(24, 100%, 90%);
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}

.header{
    background-image: url(img/nav.jpg);
    background-repeat: repeat-x;
    background-color: #5b2702;
    padding: 15px;
    margin-bottom: 15px;
}

.manuscript_head{
    position: absolute;
    left: 42%;
    transform: translateX(-50%);
    width: 40%;
}

.img1{
    display: none;
    position: absolute;
    right: 0.5%;
    top: 11.1%;
    width: 49%;
    height: 45%;
    opacity: 1;
    animation: appearance1 2s 1;
}

.test22 .img1{
    display: block;
}

@keyframes appearance1{
    0% {
		opacity: 0;
	}
	
	100% {
        display: none;
		opacity: 1;
	}
}

.test22 .img2{
    display: block;
}

.img2{
    display: none;
    width: 100%;
    height: auto;
    opacity: 0;      
}

.img2.animate2{    
    animation: appearance2 2s 1;   
    animation-fill-mode: forwards;
}

@keyframes appearance2{
    0% {
		opacity: 0;
	}
	
	100% {
        /* display: block; */
		opacity: 1;
	}
}

.main-container{
    position: relative;
    width: 100%;
    max-width: 966px;
    height: calc(100% - 62px);
    overflow: hidden;
}

.manuscript-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    transform: translateX(-50%);
    background-repeat: no-repeat;    
}


.manuscript-frame{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 60px;
    background: url(img/manuscript_background_empty.png);
    background-size: cover;
    min-height: 100%;
}

.container.img1{
    width: auto;
    height: auto;
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
}

.quill-container{    
    width: calc((100vw - 966px)/2);
    height: calc(100% - 175px);
    display: flex;
    justify-content: center;
    align-items: end;
}

.quill{
    position: relative;
    height: 192px;
    width: 192px;    
    cursor: pointer;    
}

.quill.zoom-animation{    
	animation: zoom-pulse 1s infinite;
}

/* .quill:hover{
    transform: scale(1.1, 1.1);
} */

@keyframes zoom-pulse {
    0% {
		transform: scale(1);
		 
	}

	50% {
		transform: scale(0.95);
		
	}

	100% {
		transform: scale(1);
		
	}
  }

.quill:before{
    content: "\e912";
    height: auto;
    position: absolute;
    font-family: "icons";
    font-size: 192px;
    color:#fff ;
}

.quill:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    /* animation: pulse 2.5s linear infinite; */
    right: 89%;
    top: 89%;
}

.quill.round-pulse:after{
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0.5;
    }
  }
 
.text-container{
    width: calc((100vw - 966px)/2);
    display:flex;
    justify-content: center;
    align-items: flex-start;   
    border-radius: 4px;
    padding: 30px;    
}

.text{
    font-family: sans-serif;
    background-image: url(img/gold.jpg);
    padding: 30px;
    border-radius: 4px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #0c0c0c;
    font-weight: bold;    
    font-style: italic;
}

.text .p{
    font-size: 21px;
}

.p{
    color: #5b2702;
    text-align: start;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
}

.img_head{
    position: absolute;
    right: 0px;
    top: 0;
    width: 100%;
    height: 10.25%;
    opacity: 1
}

.test22{
    animation: animate_reduce 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 74s;
}

@keyframes animate_reduce {
	0% {
		width: 100%;
	}
	
	100% {
		width: 68%;
	}
}

.process-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: transparent;
}

.status-line{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FF5722;

}

.status-line.status-line-moved{
    animation: status-line-moving 155s 1;
    animation-fill-mode: forwards;
}

@keyframes status-line-moving {
    0% {
		height: 100%;
	}
	
	100% {
		height: 0;
	}
    
}